body{
    background-color:rgb(195, 55, 55);
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

header{
    background-color:rgb(187, 187, 187);
    height: auto;
}

h1{
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    color: rgb(25, 30, 155);
    text-shadow: 5 px 5 px 5xp white;
}

ul{
    padding: auto;
    margin: auto;
}

nav li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
}

nav li a{
    color: rgb(50, 175, 50);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

main{
    width: 960px;
    margin: 30px auto;
    min-height: auto;
    text-align: center;
}

.main-section{
    display: flex;
    gap: 20px;
    justify-content: center;
    }

.main-section section{
    flex: 1;
    text-align: center;
}

section{
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#hero{
    width: 960px;
    height: 600px;
    border: 3px solid black;
}

#hero:hover{
    border-radius: 0px;
    border: 3px solid red
}

main p{
    font-size: 20px;
    margin-top: 30px;
}

.lower{
    display: inline-block;
    max-width: 30%;
    margin: 10px;
    text-align: center;
}

.star {
    width: 50px;  /* Change this number to whatever size you want */
    height: auto; /* Keeps the image aspect ratio correct */
}

footer{
    height: auto;
    text-align: center;
    background-color: rgb(187, 187, 187);
}

footer p{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica, sans-serif;
}
