body{
    background-color:rgb(224, 206, 209);
    margin: auto;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

header{
    background-color:rgb(purple);
}

h1{
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    color: red;
    text-shadow: 5 px 5 px 5xp white;
}

nav li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
}

ul{
    padding: 0;
    margin: 0;

}

nav li a{
    color: darkgreen;
    text-decoration: double;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

main{
    width: 960px;
    margin: 60px auto;
    min-height: 700px;
}

#hero{
    width: 960px;
    height: 600px;
    border: 10px solid black;
}

#hero{
    border-radius: 0px;
    border: ;
}

main p{
    font-size: 20px;
    margin-top: 30px;
}

footer{
    height: 100px;
    text-align: center;
    background-color: rgb(224, 206, 209);
}

footer p{
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}
